.primary {
  background-color: #651fff !important;
}

.secondary {
  background-color: #a255ff !important;
}

.accent {
  background-color: #fdd835 !important;
}

.error {
  background-color: #c6a700 !important;
}
