.primary {
  background-color: #651fff !important;
  color: #fff !important;
}

.secondary {
  background-color:#0100ca !important;
  color: #fff !important;
}

.accent {
  background-color: #fdd835 !important;
  color: #000 !important;
}

.error {
  background-color: #FF5252 !important;
}

.info {
  background-color: #2196F3 !important;
}

.success {
  background-color: #4CAF50 !important;
}

.warning {
  background-color: #FFC107 !important;
}
